/* Main Content */
.main-content {
    margin-top: 20px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 1.5px 2.9px 8.98px 0px #6434F84D;
    border-radius: 20px;
    height: 70%;
}

.main-content__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.main-content__tab {
    background-color: #e0e0e0;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 293px;
    transition: background-color 0.3s ease;
    height: 47px;
}

.main-content__tab--active {
    background: linear-gradient(to right, #1ed1e0, #112363);
    color: #fff;
}

.main-content__tab:hover {
    background-color: #d6d6d6;
}

/* Product Grid */
.main-content__product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 41px 0;
    padding: 0 10px;
}

.main-content__product-card {
    background: linear-gradient(to right, #1ed1e0, #112363);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}

.main-content__product-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content__product-title {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.main-content__product-button {
    background: #FFFFFF;
    color: #1380A6;
    border: 1px solid #12477D;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-top: 100px;
    width: 160px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content__product-button:hover {
    transform: scale(1.05);
    background-color: #e6e6e6;
}
