/* Sidebar */
.sidebar {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 19px;
}

.sidebar__profile {
    box-shadow: 1.5px 2.9px 8.98px 0px rgba(100, 52, 248, 0.3);
    border-radius: 20px;
    padding: 25px;
}

.sidebar__profile-image {
    border: 3px solid #007bff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.sidebar__username {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #16D0E0;
    margin-top: 10px;
}

.sidebar__email {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #494949;
}

/* box */
.sidebar__info-box {
    border-radius: 8px;
    background-color: #FFFFFF;
    padding-bottom: 121px;
    padding-left: 20px;
    padding-right: 40px;
    box-shadow: 1.5px 2.9px 8.98px 0px #6434F830;
    text-align: left;
    padding-top: 115px;
    
}

.sidebar__info-title {

}

.sidebar__language-select {
    margin-top: 20px;
}

.sidebar__language-label {
    font-weight: bold;
    margin-right: 12px;
}

.sidebar__language-dropdown {
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}