.product {
    display: flex;
}

.product_heading {
    width: 379px;
    height: 85px;
    border-radius: 19.46px;
    background-color: #FFFFFF;
    box-shadow: 1.5px 2.99px 8.98px 0px #6434F84D;
    margin-left: auto;
    margin-right: auto;
}

.product_heading-text {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 85px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
 
}


/* Cart */
.product__cart {
    display: flex;
    align-items: center;
    position: relative; /* Để huy hiệu có thể căn chỉnh theo vị trí của biểu tượng */   
    text-decoration: none;
}

.product__cart-icon {
    width: 58px;
    height: 51px;
}

.product__cart::after {
    content: '1'; /* Số lượng sản phẩm */
    position: absolute;
    background-color: #ff3d3d;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 28px; /* Đảm bảo huy hiệu có kích thước đủ để hiển thị số */
    height: 29px;
    top: -4px;
    left: 27%;
}

.product__cart-text {
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 36.31px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: linear-gradient(90deg, #16D0E0 0%, #112363 100%);
    ;

}   


/* product content */

.product__content {
    padding: 0;
}

.product-card {
    background: linear-gradient(90deg, #16D0E0 0%, #112363 100%); /* Gradient từ xanh dương nhạt đến đậm */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin-top: 90px;
}

/* Thiết kế vòng tròn trang trí */
.product-card::before {
    content: '';
    position: absolute;
    width: 301px;
    height: 301px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    top: -70px;
    left: -70px;
}

.product-card::after {
    content: '';
    position: absolute;
    width: 301px;
    height: 301px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    bottom: -69px;
    right: -45px;
}

/* Thiết kế các mục sản phẩm */
.product-item img {
    width: 50px;
    height: 50px;
}

.product-item p {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.85px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10px;
}


/* product price */
.vj-tel-content {
    display: flex;
    gap: 20px;
    margin-top: 90px;
}

.price-card {
    position: relative;
    width: 348px;
    background: linear-gradient(180deg, #000000 83.5%, #1ED1E0 100%);
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 1.5px 2.99px 8.98px 0px rgba(62, 0, 254, 0.3);
    overflow: hidden;
    transition: all 0.5s ease;
}


/* Ẩn phần thông tin chi tiết ban đầu */
.price-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.price-info ul {
    width: 100%;
    padding: 0;
    font-size: 15px;
    font-weight: 800;
}

.price-info ul li{
    text-align: start;
}

/* Hiệu ứng hover */
.price-card:hover .price-info {
    opacity: 1;
}

.price-card:hover {
    background: linear-gradient(90deg, rgba(22, 208, 224, 0.8) 0%, rgba(17, 35, 99, 0.8) 100%);
}


.price-card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.price-image {
    height: auto;
    max-height: 200px;
    margin-bottom: 20px;
}

.price-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buy-now,
.add-to-cart {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(98, 127, 201, 1);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buy-now:hover {
    transform: scale(1.05);
}

.add-to-cart:hover {
    transform: scale(1.05);
}


/* Phần "Coming Soon" */
.coming-soon {
    background: linear-gradient(to bottom, #fff, #00c6ff);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.coming-soon h2 {
    
    font-family: Open Sans;
    font-size: 80px;
    font-weight: 800;
    line-height: 245.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

/* Modal ẩn ban đầu */
.modal {
    display: none; /* Ẩn modal khi chưa click */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền trong suốt */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    width: 397px;
    height: 227px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    color: #000000;
    padding-bottom: 6px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color:rgba(255, 255, 255, 1);
}

.pay-now {
    background-color: rgba(18, 73, 132, 1);
    color: white;
    border: none;
    padding: 0px 20px;
    border-radius: 100px;
    cursor: pointer;
    width: 162px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: auto;
    margin-right: auto;
    height: 44px;
}

.modal__content-wrap {
    background: rgba(18, 73, 132, 1);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.modal__content-wrap h2 {
    color:rgba(255, 255, 255, 1);
    margin: 0;
    
}

.modal-content-details {
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 40.85px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(82, 93, 111, 1);
    margin-left: 15px;
}

.modal-content-total  {
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 40.85px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(82, 93, 111, 1);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;    
}


/* confirm modal */
.modal-dialog {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    min-width: 269px;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1.5px 2.9px 8.98px 0px rgba(100, 52, 248, 0.3);
    padding: 12px 0;
    z-index: 1070; /* Cao hơn modal content */
}

.confirm-header {
    display: flex;
    justify-content: center;
    border-bottom: none;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 800;
    line-height: 40.85px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(82, 93, 111, 1);
}

.confirm-title {
    font-weight: bold;
}

.confirm-body {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.43px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);    
    margin-top: 5px;
}

.confirm-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 50px;
}

.confirm-footer .btn {
    width: 113px;
    height: 38px;
    border-radius: 19.46px;
    font-size: 16px;
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 1);
    font-family: Open Sans;
    font-weight: 500;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 1.5px 2.99px 8.98px 0px rgba(100, 52, 248, 0.3);

}

.btn-primary {
    background: linear-gradient(180deg, #16D0E0 0%, #112363 100%);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 1.5px 2.99px 8.98px 0px rgba(100, 52, 248, 0.3);
}