.product {
    display: flex;
}

.product_heading {
    width: 379px;
    height: 85px;
    border-radius: 19.46px;
    background-color: #FFFFFF;
    box-shadow: 1.5px 2.99px 8.98px 0px #6434F84D;
    margin-left: auto;
    margin-right: auto;
}

.product_heading-text {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 85px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
 
}


/* Cart */
.product__cart {
    display: flex;
    align-items: center;
    position: relative; /* Để huy hiệu có thể căn chỉnh theo vị trí của biểu tượng */   
    text-decoration: none;
}

.product__cart-icon {
    width: 58px;
    height: 51px;
}

.product__cart::after {
    content: '1'; /* Số lượng sản phẩm */
    position: absolute;
    background-color: #ff3d3d;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 28px; /* Đảm bảo huy hiệu có kích thước đủ để hiển thị số */
    height: 29px;
    top: -4px;
    left: 27%;
}

.product__cart-text {
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 36.31px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: linear-gradient(90deg, #16D0E0 0%, #112363 100%);
    ;

}   


/* product content */

.product__content {
    height: 374px;
    margin-top: 90px;
}

.product-card {
    background: linear-gradient(90deg, #16D0E0 0%, #112363 100%); /* Gradient từ xanh dương nhạt đến đậm */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

/* Thiết kế vòng tròn trang trí */
.product-card::before {
    content: '';
    position: absolute;
    width: 301px;
    height: 301px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    top: -84px;
    left: -88px;
}

.product-card::after {
    content: '';
    position: absolute;
    width: 301px;
    height: 301px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    bottom: -69px;
    right: -45px;
}

/* Thiết kế các mục sản phẩm */
.product-item img {
    width: 50px;
    height: 50px;
}

.product-item p {
    margin-top: 10px;
}